.card {
  background: #c8c8d7;
  color: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 280px;       
  height: 280px;      
  margin: 0 15px;
  text-align: center;
  position: absolute;
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.5s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-id {
  font-size: 1.4rem;
  font-weight: bold;
}

.card-icon {
  font-size: 3.5rem;   
  margin: 20px 0;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 15px; 
  color: #000000;
  text-align: center;
}


.center {
  opacity: 1;
  transform: scale(1.1); 
  z-index: 3;
}

.left-1, .right-1 {
  opacity: 0.7;
  transform: scale(0.9);
  z-index: 2;
}

.left-2, .right-2 {
  opacity: 0.4;
  transform: scale(0.75);
  z-index: 1;
}
.card:last-child {
  border-right: none;
}

.bg-dark {
  background-color: #131316 !important;
}

.count-number {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: white;
}

.card:hover {
  background-color: #f9a825 !important; 
  color: #000 !important;
  cursor: pointer;
}

.card:hover .card-body h2,
.card:hover .card-body p {
  color: #000 !important;
}

.card-description {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  margin-top: 10px; 
}

.card-body svg {
  color: #f9a825; 
}

.card:hover svg {
  color: #000; 
}

.stats-card {
  background: #1c1c1e;
  color: #fff;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-card:hover {
  background-color: #f9a825 !important;
  color: #000 !important;
}

.stats-card:hover .card-body h2,
.stats-card:hover .card-body p {
  color: #000 !important;
}

.stats-card .card-body svg {
  color: #f9a825;
}

.stats-card:hover svg {
  color: #000;
}

.count-number {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: white;
}
